IMAGE_TAG=0.0.6
DB_URL=<db-url>
DB_USERNAME=<db-username>
DB_PASSWORD=<db-password>
EMAIL_USERNAME=<your-email@gmail.com>
EMAIL_PASSWORD=<your-email-password>
JWT_SECRET_KEY=<your-secret-key>
SWAGGER_SERVER_URL=<swagger-server-url>
SWAGGER_SERVER_DESCRIPTION=<swagger-server-description>