<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title>
</head>
<body>
<div style="font-size: 18px; font-weight: bold; margin-bottom: 20px;">
    <span style="background-color: #ff0000; color: white; padding: 5px; border-radius: 5px; margin-right: 10px;">NEW !</span>新遊戲已上架！
</div>
<table width="800" cellpadding="0" cellspacing="0">
    <tr>
        <td style="
                font-size:24px;
                font-weight:bold;
                padding:10px;
                background:#9046ff;
                color:white;
            ">
            Game Information
        </td>
    </tr>

    <tr>
        <td>
            <h1 th:text="${title}"></h1>

            <p style="font-size: 16px;line-height: 1.5;" th:text="${info}"></p>

            <div style="font-size: 18px;" th:utext="${description}">
            </div>
        </td>
    </tr>
</table>
<table style="margin-top: 60px;" width="800" cellpadding="0" cellspacing="0">
    <tr th:if="${!#lists.isEmpty(images)}">
        <td style="
                font-size:24px;
                font-weight:bold;
                padding:10px;
                background:#9046ff;
                color:white;
            "
            th:colspan="${#lists.size(images)}">
            Game Screenshots
        </td>
    </tr>
    <tr th:if="${!#lists.isEmpty(images)}">
        <td th:each="image : ${images}">
            <img alt="" style="
                width:250px;
                height:auto;
                margin-right:10px;"
                 th:src="|cid:${image}|">
    </tr>
</table>
</body>
</html>